<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StoodforGood</title>
  <link rel="icon" href="LOGO.svg" type="image/x-icon">
  <style>
    #sawo-container{
      display: flex;
      align-self: center;
      border: 1px solid black;
      box-shadow:0 10px 20px rgb(80,91,243);
      margin-top: 2rem;
      margin-left: 32rem;
    }
  </style>
</head>
<body>
  <div id="sawo-container" style="height: 300px; width: 300px"></div>

  <script src="https://websdk.sawolabs.com/sawo.min.js"></script>

  <script>
    // Fetching payload from sessionStorage
    const payload = sessionStorage.getItem("payload");
    if (payload) {
      // If the payload is available, that means the user has logged in already.
      // So redirecting back to "/login"
      window.location.href = "/success";
    }
    var config = {
      // should be same as the id of the container created on 3rd step
      containerID: "sawo-container",
      // can be one of 'email' or 'phone_number_sms'
      identifierType: "email",
      // Add the API key copied from 2nd step
      apiKey: "f54669d7-aa9f-425d-9124-5a33545e5fd0",
      // Add a callback here to handle the payload sent by sdk
      onSuccess: (payload) => {
        // Storing the payload in sessionStorage
        sessionStorage.setItem("payload", JSON.stringify(payload));
        // Redirecting to "/success"
        window.location.href = "/success";
      },
    };
    var sawo = new Sawo(config);
    sawo.showForm();
  </script>
</body>
</html>